.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

body {
  background-image:url('http://www.planethollywoodresort.com/content/dam/phv/Dining/Upscale/koi/Planet-Hollywood-Resort-&-Casino-Dining-Upscale-Koi-1.jpg');
  background-size: cover;
}

h2 {
  font-family: sans-serif;
  color: white;
}
